venv
proj2
multi_cam_results
mc6_1
data
__pycache__
parsed_data
*.mp4
*.png
*.jpeg
*.jpg
*.log
*.pt
results
outputs
detections
external/flowformerpp/checkpoints/
flow_cache/
wandb/
runs/
output_detections_test/

.vscode
.DS_Store

*.err
*.out