[submodule "external/TrackEval"]
	path = external/TrackEval
	url = https://github.com/JonathonLuiten/TrackEval
[submodule "external/pyflow"]
	path = external/pyflow
	url = https://github.com/pathak22/pyflow.git
[submodule "external/flowformerpp"]
	path = external/flowformerpp
	url = https://github.com/XiaoyuShi97/FlowFormerPlusPlus.git
